.search {
  border-radius: 15px;
  position: relative;
}

.search input {
  color: black;
  border-radius: 25px;
  background-color: white;
  height: 40px;
  text-indent: 15px;
  border: 1px solid #c4c4c4 !important;
  width: 500px;
}

.search input:focus-visible {
  box-shadow: none !important;
  border: 1px solid #DB3022 !important;
  outline: none !important;
}

.search .icon {
  color: #c4c4c4;
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 450px;
}

.imgCarousel {
  border-radius: 10px;
}

.textRed {
  color: #DB3022;
}

.bgMaroon {
  background-color: #CC0B04;
}

.bgBlue {
  background-color: #1C3391;
}

.bgOrange {
  background-color: #F67B02;
}

.bgPink {
  background-color: #E31F51;
}

.bgCyan {
  background-color: #57CD9E;
}

.imgCategory {
  padding: 25px !important;
  object-fit: contain !important;
}

.card {
  border: none;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 10%);
}

.modalHeader {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: unset !important;
  border: none;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 10%);
}

.divContent {
  border-bottom: 2px solid rgb(0 0 0 / 5%);
}

.btnClose {
  margin: 2px !important;
}

.btnClose:hover {
  background-color: unset !important;
}

.colorBlack {
  background: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.colorRed {
  background: #DB3022;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.colorGray {
  background: #BEA9A9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.colorBlue {
  background: #151867;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.colorDarkYellow {
  background: #E2BB8D;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.colorBlue {
  background: #151867;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.colorWhite {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 25%);
  -moz-box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.activeBlack {
  width: 40px;
  height: 40px;
  background:
    radial-gradient(black 55%, transparent 60%),
    radial-gradient(white 66%, transparent 70%),
    linear-gradient(to top right, orange, deeppink);
}

.activeWhite {
  width: 40px;
  height: 40px;
  background:
    radial-gradient(white 55%, transparent 60%),
    radial-gradient(white 66%, transparent 70%),
    linear-gradient(to top right, orange, deeppink);
}

.activeRed {
  width: 40px;
  height: 40px;
  background:
    radial-gradient(#DB3022 55%, transparent 60%),
    radial-gradient(white 66%, transparent 70%),
    linear-gradient(to top right, orange, deeppink);
}

.activeGray {
  width: 40px;
  height: 40px;
  background:
    radial-gradient(#BEA9A9 55%, transparent 60%),
    radial-gradient(white 66%, transparent 70%),
    linear-gradient(to top right, orange, deeppink);
}

.activeYellow {
  width: 40px;
  height: 40px;
  background:
    radial-gradient(#E2BB8D 55%, transparent 60%),
    radial-gradient(white 66%, transparent 70%),
    linear-gradient(to top right, orange, deeppink);
}

.activeBlue {
  width: 40px;
  height: 40px;
  background:
    radial-gradient(#151867 55%, transparent 60%),
    radial-gradient(white 66%, transparent 70%),
    linear-gradient(to top right, orange, deeppink);
}

.activeSize {
  border-radius: 8px !important;
  border: none;
  background-color: #DB3022 !important;
  border: 1px solid #DB3022 !important;
  color: white !important;
}

.activeSize:hover {
  background-color: #c41c0d !important;
}

.btnSize {
  border-radius: 8px;
  border: 1px #9b9b9b solid;
  color: #9b9b9b;
  background-color: white;
}

.btnSize:hover {
  background-color: #DB3022 !important;
  border: 1px #DB3022 solid !important;
}